dist: trusty
sudo: required
language: cpp
cache: ccache
services:
  - docker
install:
  - cd ..
  - git clone https://github.com/intel/gmmlib.git gmmlib
  - git clone https://github.com/shiqiangyu/libva.git libva
  - cd ./media-driver

script:
  - rm -rf ${TRAVIS_BUILD_DIR}/../build && mkdir ${TRAVIS_BUILD_DIR}/../build
  - mkdir -p $HOME/.ccache
  - ccache -s
  - ccache -z
  - >
      docker run
      -v $HOME/.ccache:/opt/ccache
      -v ${TRAVIS_BUILD_DIR}/../:/opt/src
      -w /opt/src/libva
      -e CCACHE_DIR=/opt/ccache
      intelmediadriver/media-driver-docker
      ./autogen.sh --prefix=/usr --libdir=/usr/lib/x86_64-linux-gnu
  - >
      docker run
      -v $HOME/.ccache:/opt/ccache
      -v ${TRAVIS_BUILD_DIR}/../:/opt/src
      -w /opt/src/libva
      -e CCACHE_DIR=/opt/ccache
      intelmediadriver/media-driver-docker
      make -j8
  - >
      docker run
      -v $HOME/.ccache:/opt/ccache
      -v ${TRAVIS_BUILD_DIR}/../:/opt/src
      -w /opt/src/libva
      -e CCACHE_DIR=/opt/ccache
      intelmediadriver/media-driver-docker
      make install DESTDIR=/opt/src/libva-install
  - ccache -s
  - ccache -z
  - >
      docker run
      -v $HOME/.ccache:/opt/ccache
      -v ${TRAVIS_BUILD_DIR}/../:/opt/src
      -w /opt/src/build
      -e CCACHE_DIR=/opt/ccache
      intelmediadriver/media-driver-docker
      cmake ../media-driver
      -DCMAKE_INSTALL_PREFIX=/usr
      -DLIBVA_DRIVERS_PATH=/usr/lib/x86_64-linux-gnu/dri
      -DLIBVA_INSTALL_PATH=/opt/src/libva-install/usr/include
      -DBUILD_TYPE=Release
  - >
      docker run
      -v $HOME/.ccache:/opt/ccache
      -v ${TRAVIS_BUILD_DIR}/..:/opt/src
      -w /opt/src/build
      -e CCACHE_DIR=/opt/ccache
      intelmediadriver/media-driver-docker
      make -j8
  - ccache -s
  - ccache -z
  - sudo rm -rf ${TRAVIS_BUILD_DIR}/../build && mkdir ${TRAVIS_BUILD_DIR}/../build
  - >
      docker run
      -v $HOME/.ccache:/opt/ccache
      -v ${TRAVIS_BUILD_DIR}/../:/opt/src
      -w /opt/src/build
      -e CCACHE_DIR=/opt/ccache
      intelmediadriver/media-driver-docker
      cmake ../media-driver
      -DCMAKE_INSTALL_PREFIX=/usr
      -DLIBVA_DRIVERS_PATH=/usr/lib/x86_64-linux-gnu/dri
      -DLIBVA_INSTALL_PATH=/opt/src/libva-install/usr/include
      -DENABLE_KERNELS=OFF
      -DBUILD_TYPE=Release
  - >
      docker run
      -v $HOME/.ccache:/opt/ccache
      -v ${TRAVIS_BUILD_DIR}/..:/opt/src
      -w /opt/src/build
      -e CCACHE_DIR=/opt/ccache
      intelmediadriver/media-driver-docker
      make -j8
  - ccache -s
  - ccache -z
  - sudo rm -rf ${TRAVIS_BUILD_DIR}/../build && mkdir ${TRAVIS_BUILD_DIR}/../build
  - >
      docker run
      -v $HOME/.ccache:/opt/ccache
      -v ${TRAVIS_BUILD_DIR}/../:/opt/src
      -w /opt/src/build
      -e CCACHE_DIR=/opt/ccache
      intelmediadriver/media-driver-docker
      cmake ../media-driver
      -DCMAKE_INSTALL_PREFIX=/usr
      -DLIBVA_DRIVERS_PATH=/usr/lib/x86_64-linux-gnu/dri
      -DLIBVA_INSTALL_PATH=/opt/src/libva-install/usr/include
      -DENABLE_NONFREE_KERNELS=OFF
      -DBUILD_TYPE=Release
  - >
      docker run
      -v $HOME/.ccache:/opt/ccache
      -v ${TRAVIS_BUILD_DIR}/..:/opt/src
      -w /opt/src/build
      -e CCACHE_DIR=/opt/ccache
      intelmediadriver/media-driver-docker
      make -j8
  - ccache -s
  - ccache -z
